<div class="panelHeader">
    <h2 class="h2">Analyse</h2>
</div>
<div class="line panelContent">
    <div class="leftCol">
        {{ tc.module('TitleBar', 'Asp/tools')}}
        {{ tc.module('Tool', 'Asp/risk')}}
    </div>
    <div class="leftCol">
        {{ tc.module('TitleBar', 'Asp/tools')}}
        {{ tc.module('Tool', 'Asp/taa')}}
    </div>
    <div class="main">
        {{ tc.module('TitleBar', 'Asp/healthcheck')}}
        {{ tc.module('Healthcheck', 'healthcheck')}}
    </div>
</div>


